<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<welcome-file-list>
		<welcome-file>/index.html</welcome-file>
	</welcome-file-list>
	<session-config>
		<session-timeout>43200</session-timeout>
		<cookie-config>
			<http-only>false</http-only>
		</cookie-config>
	</session-config>

	
	<!-- <filter> <filter-name>XssFilter</filter-name> <filter-class>com.cz.framework.web.XssFilter</filter-class> 
		</filter> <filter-mapping> <filter-name>XssFilter</filter-name> <url-pattern>*.do</url-pattern> 
		</filter-mapping> -->

	<filter>
		<filter-name>GzipJsFilter</filter-name>
		<filter-class>com.cz.framework.web.GzipJsFilter</filter-class>
		<async-supported>true</async-supported>
		<init-param>
			<param-name>headers</param-name>
			<param-value>Content-Encoding=gzip</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>GzipJsFilter</filter-name>
		<url-pattern>*.gzjs</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>GzipJsFilter</filter-name>
		<url-pattern>*.gzcss</url-pattern>
	</filter-mapping>

	<servlet>
		<servlet-name>ssi</servlet-name>
		<servlet-class>org.apache.catalina.ssi.SSIServlet</servlet-class>
		<init-param>
			<param-name>buffered</param-name>
			<param-value>1</param-value>
		</init-param>
		<init-param>
			<param-name>debug</param-name>
			<param-value>0</param-value>
		</init-param>
		<init-param>
			<param-name>expires</param-name>
			<param-value>666</param-value>
		</init-param>
		<init-param>
			<param-name>inputEncoding</param-name>
			<param-value>utf-8</param-value>
		</init-param>
		<init-param>
			<param-name>outputEncoding</param-name>
			<param-value>utf-8</param-value>
		</init-param>
		<init-param>
			<param-name>isVirtualWebappRelative</param-name>
			<param-value>0</param-value>
		</init-param>
		<load-on-startup>3</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>ssi</servlet-name>
		<url-pattern>*.shtml</url-pattern>
		<url-pattern>*.html</url-pattern>
		<url-pattern>*.inc</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>*.mp4</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>*.mp3</url-pattern>
	</servlet-mapping>
	<servlet-mapping>  
	  <servlet-name>default</servlet-name> 
	  <url-pattern>*.jpg</url-pattern>   
	</servlet-mapping> 
	<servlet-mapping>  
	  <servlet-name>default</servlet-name> 
	  <url-pattern>*.gif</url-pattern>   
	</servlet-mapping> 
	<servlet-mapping>  
	  <servlet-name>default</servlet-name> 
	  <url-pattern>*.png</url-pattern>   
	</servlet-mapping>  
	<servlet-mapping>    
	  <servlet-name>default</servlet-name>  
	  <url-pattern>*.js</url-pattern>  
	</servlet-mapping> 
	<servlet-mapping>    
	  <servlet-name>default</servlet-name>  
	  <url-pattern>*.json</url-pattern>
		<url-pattern>*.txt</url-pattern>
	</servlet-mapping> 
	<servlet-mapping>    
	  <servlet-name>default</servlet-name>    
	  <url-pattern>*.css</url-pattern>   
	</servlet-mapping>
	<servlet-mapping>    
	  <servlet-name>default</servlet-name>    
	  <url-pattern>*.swf</url-pattern>   
	</servlet-mapping>
	<servlet-mapping>    
	  <servlet-name>default</servlet-name>    
	  <url-pattern>*.map</url-pattern>   
	</servlet-mapping>
	<servlet-mapping>    
	  <servlet-name>default</servlet-name>    
	  <url-pattern>*.eot</url-pattern>   
	</servlet-mapping>
	<servlet-mapping>    
	  <servlet-name>default</servlet-name>    
	  <url-pattern>*.svg</url-pattern>   
	</servlet-mapping>
	<servlet-mapping>    
	  <servlet-name>default</servlet-name>    
	  <url-pattern>*.ttf</url-pattern>   
	</servlet-mapping>
	<servlet-mapping>    
	  <servlet-name>default</servlet-name>    
	  <url-pattern>*.woff</url-pattern>   
	</servlet-mapping>
	<servlet-mapping>    
	  <servlet-name>default</servlet-name>    
	  <url-pattern>*.woff2</url-pattern>   
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>*.ogg</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>*.ico</url-pattern>
	</servlet-mapping>
	<!-- 
	<servlet> 
		<servlet-name>SSIServlet</servlet-name> 
		<servlet-class>com.caucho.servlets.ssi.SSIServlet</servlet-class> 
	</servlet> 
	<servlet-mapping> 
		<servlet-name>SSIServlet</servlet-name> 
		<url-pattern>*.shtml</url-pattern> 
		<url-pattern>*.html</url-pattern> 
		<url-pattern>*.inc</url-pattern> 
	</servlet-mapping> 
	-->
</web-app>