<style>
.notice_main{
display:none;
}
.notice_main:nth-child(3){
display:block;
}
</style>
<div class="side_left">
			<div class="side_item"><a href="javascript:;" onclick="tabQuertionType(this,0)"><span>下载APP，赠送38元</span> </a></div>
			<div class="side_item"><a href="javascript:;" onclick="tabQuertionType(this,1)"><span>云闪付入款送2%</span> </a></div>
			<div class="side_item"><a href="javascript:;" onclick="tabQuertionType(this,2)"><span>赢在代理，创富人生</span> </a></div>
			</div>
<div class="notice_main" data-type="0">
			<div class="notice_title">
			<h1 >下载APP，赠送38元</h1>
			</div>

			<div class="notice_text">
			<div class="fleft notice_item"  style="text-align:left;word-break:break-all;">

<div style="width:710px;">

	<img alt="" src="/views/image/20181114/20181114155544361108-20181111233512473629-20181107170010250813-1367_副本_副本.png" style="width: 700px; height: 345px;" /><br />
为了感谢老会员一直以来对平台的信任与支持，凡是在老平台2018年11月10号之前有注册会员账号，<strong><span style="color:#e74c3c;"><span style="font-size:20px;">下载新平台app</span></span></strong>，即可获得<span style="font-size:18px;"><span style="background-color:#d35400;">38元彩金</span></span>，详情请咨询7*24小时在线客服，谢谢

</div>



			</div>

			</div>
			</div>
<div class="notice_main" data-type="1">
			<div class="notice_title">
			<h1 >云闪付入款送2%</h1>
			</div>

			<div class="notice_text">
			<div class="fleft notice_item"  style="text-align:left;word-break:break-all;">

<div style="width:710px;">

	<img alt="" src="/views/image/20181109/20181109164537819259-qqqqq.png" style="width: 364px; height: 168px;" /><br />
我司推出【云闪付APP】扫码支付，入款立赠2%，次次存次次送！充值步骤：点击【充值出款】，向左滑动充值类目，选择【云闪付】，点击【中国银联（线下支付）】，打开云闪付或手机银行APP扫码支付！APP下载教程请点击【优惠活动】查看，如有任何疑问欢迎咨询QQ客服：792387777 微信客服：kk8kefu 谢谢！

</div>



			</div>

			</div>
			</div>
<div class="notice_main" data-type="2">
			<div class="notice_title">
			<h1 >赢在代理，创富人生</h1>
			</div>

			<div class="notice_text">
			<div class="fleft notice_item"  style="text-align:left;word-break:break-all;">

<div style="width:710px;">

	KK彩票-KK8.COM作为知名的在线博彩公司，提供最广范围、最具竞争力的产品，我们真诚为您打造最优的合作平台。现诚邀您成为我司合作伙伴，0投资、0风险、高回报，快速简单赚钱！我们为您提供多方位支援，两种代理方案任选，赚取最高50%无上限的代理佣金。让您游刃有余，无本生利！还在犹豫什么？马上联系代理专员QQ：792357777开启合作吧！详情请点击【优惠活动】查看。

</div>



			</div>

			</div>
			</div>
