<style>
			.leftfloat,.rightfloat{z-index: 100000;font-size:0px;width: auto; position: absolute;top: 140px;}
			.leftfloat{ left:5px; background: url(/views/image/20200104/20200104213203201432-未标题-3.png) no-repeat;width:118px;height:409px;}
			.leftfloat a,.rightfloat a{display: block; width: 100%; }
			.rightfloat{right: 5px;background: url(/views/image/20200104/20200104213205425496-未标题-3.png) no-repeat;width:118px;height:409px;}
		</style>
		<!--左浮窗-->
		<div class="leftfloat">
		
			<a onclick="javascript:$(this).parent().hide();" style="    height: 30px;
			position: absolute;
			bottom: 0px;"></a>
		</div>
		<!--右浮窗-->
		<div class="rightfloat">
			<a class="online-service" style="height: 235px;"></a>
			<a href="/views/html/register.html"     style="height: 66px;"> </a>
		   <a onclick="javascript:$(this).parent().hide();" style="    height: 30px;
			position: absolute;
			bottom: 0px;"></a>
		</div>