<!--help_left_menu_kfc-->
<div class="help-center-content-l">
    <ul>
        <li class="help_list_tit">
            <a>帮助中心首页</a>
        </li>
                <li class="help-nav-list">
                <a href="/views/html/help.html?helpId=1">常见问题</a>
            </li>
            <li class="help-nav-list">
                <a href="/views/html/help.html?helpId=22">个人账号</a>
            </li>
            <li class="help-nav-list">
                <a href="/views/html/help.html?helpId=38">充值提款</a>
            </li>
            <li class="help-nav-list">
                <a href="/views/html/help.html?helpId=46">规则说明</a>
            </li>
            <li class="help-nav-list">
                <a href="/views/html/help.html?helpId=1">注册登录</a>
            </li>
            <li class="help-nav-list">
                <a href="/views/html/help.html?helpId=1">信息安全</a>
            </li>
            <li class="help-nav-list">
                <a href="/views/html/help.html?helpId=1">账户充值</a>
            </li>
            <li class="help-nav-list">
                <a href="/views/html/help.html?helpId=1">中奖提款</a>
            </li>
            <li class="help-nav-list">
                <a href="/views/html/help.html?helpId=46">网上投注</a>
            </li>
            <li class="help-nav-list">
                <a href="/views/html/play-methods.html">玩法规则</a>
            </li>
    </ul>
</div>