<ul class="highfreqlottery">
            <li onclick="TabChart(this)" data="/page/game-center/open-trend.html?gameCode=bjkc">
              <div style="background: url('/views/image/20200331/20200331234456501456-20190718020537144361-bjkc.png') no-repeat center center;background-size: 72%;"></div>
              <div class="highfreqlotteryText">北京PK拾</div>
            </li>
            <li onclick="TabChart(this)" data="/page/game-center/open-trend.html?gameCode=cqssc">
              <div style="background: url('/views/image/20200331/20200331234503692209-20190718020616672239-cqssc.png') no-repeat center center;background-size: 72%;"></div>
              <div class="highfreqlotteryText">重庆时时彩</div>
            </li>
            <li onclick="TabChart(this)" data="/page/game-center/open-trend.html?gameCode=txffc">
              <div style="background: url('/views/image/20200331/20200331234509452498-20190718020658835297-txffc.png') no-repeat center center;background-size: 72%;"></div>
              <div class="highfreqlotteryText">幸运时时彩</div>
            </li>
            <li onclick="TabChart(this)" data="/page/game-center/open-trend.html?gameCode=bjkl8">
              <div style="background: url('/views/image/20200331/20200331234522991412-20190718020821514308-bjkl8.png') no-repeat center center;background-size: 72%;"></div>
              <div class="highfreqlotteryText">北京快乐8</div>
            </li>
            <li onclick="TabChart(this)" data="/page/game-center/open-trend.html?gameCode=jsk3">
              <div style="background: url('/views/image/20200331/20200331234600818410-20190718020921355620-jsk3.png') no-repeat center center;background-size: 72%;"></div>
              <div class="highfreqlotteryText">江苏快3</div>
            </li>
            <li onclick="TabChart(this)" data="/page/game-center/open-trend.html?gameCode=gd11x5">
              <div style="background: url('/views/image/20200331/20200331234607595740-20190718021030668176-gd11x5.png') no-repeat center center;background-size: 72%;"></div>
              <div class="highfreqlotteryText">广东11选5</div>
            </li>
            <li onclick="TabChart(this)" data="/page/game-center/open-trend.html?gameCode=fc3d">
              <div style="background: url('/views/image/20200331/20200331234615402110-20190718021334345647-fc3d.png') no-repeat center center;background-size: 72%;"></div>
              <div class="highfreqlotteryText">福彩3D</div>
            </li>
            <li onclick="TabChart(this)" data="/page/game-center/open-trend.html?gameCode=lhc">
              <div style="background: url('/views/image/20200331/20200331234645350134-20190718021410146307-lhc.png') no-repeat center center;background-size: 72%;"></div>
              <div class="highfreqlotteryText">六合彩</div>
            </li>
<ul>