        <!--<div class="news-title ">-->
            <!--<a href="/views/html/consult-details.html?id=6">勤劳小伙买时时彩意外中奖 腰包鼓鼓喜迎新年</a>-->
        <!--</div>-->
    <!--<div class="news-bar">-->
        <!--<div class="news-bar-content">-->
            <!--<ul class="news-bar-list news-bar-left">-->
                <!--<li><a class="c-grey" >新闻</a><span class="pad c-grey">|</span> <a-->
                        <!--href="/views/html/consult-details.html?id=7">30倍倍投胆拖连中俩大奖 收获奖金24900元</a></li>-->
                <!--<li><a class="c-grey" >新闻</a><span class="pad c-grey">|</span> <a-->
                        <!--href="/views/html/consult-details.html?id=8">5.2万！20.8万！重庆万州彩民连中3D大奖</a></li>-->
                <!--<li><a class="c-grey" >新闻</a><span class="pad c-grey">|</span> <a-->
                        <!--href="/views/html/consult-details.html?id=9">台州彩民中682注“3D”单选奖 奖金81万</a></li>-->
                <!--<li><a class="c-grey" >新闻</a><span class="pad c-grey">|</span> <a-->
                        <!--href="/views/html/consult-details.html?id=10">彩民四星投注 终获“时时彩”万元大奖</a></li>-->
            <!--</ul>-->
        <!--</div>-->
    <!--</div>-->