<div class="news-bar">
        <div class="news-bar-content">
            <ul class="news-bar-list news-bar-left">
                                <li><span></span> <a
                        href="/views/html/consult-details.html?id=1">11选5投注技巧攻略：可巧妙应用重号投注法</a></li>
                <li><span></span> <a
                        href="/views/html/consult-details.html?id=2">派奖继续 连码主看07 08 双色球144期</a></li>
                <li><span></span> <a
                        href="/views/html/consult-details.html?id=3">彩民一掷千金购福彩3D！揽获奖金高达124万元</a></li>
                <li><span></span> <a
                        href="/views/html/consult-details.html?id=4">精准倍投 临夏忠实彩民喜获福彩3D大奖71万元</a></li>
                <li><span></span> <a
                        href="/views/html/consult-details.html?id=5">中秋节走亲戚 重庆小伙收获福彩3D大奖18万元</a></li>
                <li><span></span> <a
                        href="/views/html/consult-details.html?id=6">时时彩投注技巧与攻略：四种实战直选杀号技巧</a></li>
                <li><span></span> <a
                        href="/views/html/consult-details.html?id=7">8旬老太中2.5亿彩票巨奖 眼花误以为中70元</a></li>
                <li><span></span> <a
                        href="/views/html/consult-details.html?id=8">11选5投注技巧攻略：心理有时比方法更重要</a></li>
                <li><span></span> <a
                        href="/views/html/consult-details.html?id=9">无锡“福彩3D狂人”频频中奖 轻松吸金三万元</a></li>
                <li><span></span> <a
                        href="/views/html/consult-details.html?id=10">奉天之意册封周二亿元日 浙江1.5亿再生周二</a></li>
            </ul>
        </div>
    </div>