<title>彩万家</title>
<meta name="apple-mobile-web-app-title" content="彩万家">
<!--#include virtual="/views/page_title_logo.html"-->
<style>
.redWrap > span {z-index: 99 !important;}
.redWrap>a {position: absolute;z-index: 1;}
</style>
<script type="text/javascript">
    var app_config = {
        "appName": "彩万家",
        "appLogo": "/views/image/20200519/20200519085659614989-1234.png",
        "yhhdPath": "/wap/yhhd/preferential.html",
        "zxkfPath":"http://wpa.qq.com/msgrd?v=3&amp;uin=369044798",
        "androidPath": "http://wpa.qq.com/msgrd?v=3&amp;uin=369044798",
        "iosPath": "http://wpa.qq.com/msgrd?v=3&amp;uin=369044798",
        "isDownload": true,
        "downloadText": "下载APP,随时随地想投就投！",
         "downloadLogo":"/views/image/20200331/20200331235037476826-logo_副本.png",
 "isShowRedPacket":  true,
         "redPacketPath":"/views/image/20200216/20200216042610785753-20190718031549598747-20190415134956360137-20190308211159291969-56.gif",
          "isShowFloatRedPacket":true,
          "isRedHref":"/views/activity/hongbao.html",
          "isShowChat": true
    }
</script>
<div><!--#include virtual="/views/isReplacement.html"-->
 <!--#include virtual="/views/alertNoticee.html"-->   </div>