<!--new_user_help-->
<div class="help-center-box">
    <div class="help-center-tit">
        <a class="more-fr" href="/views/html/help.html" target="_self">更多</a>新手指引
    </div>
    <div class="help-center-list">
        <ul>
                         <li><span class="orange f16">Q</span><a href="/views/html/help.html?helpId=1">如何成为玩彩网的会员？</a></li>
               <li><span class="orange f16">Q</span><a href="/views/html/help.html?helpId=38">玩彩网支持哪些充值方式？</a></li>
               <li><span class="orange f16">Q</span><a href="/views/html/help.html?helpId=7">本站充值要手续费吗？</a></li>
               <li><span class="orange f16">Q</span><a href="/views/html/help.html?helpId=8">如何查看是否中奖？</a></li>
               <li><span class="orange f16">Q</span><a href="/views/html/help.html?helpId=10">中奖后如何兑奖？</a></li>
               <li><span class="orange f16">Q</span><a href="/views/html/help.html?helpId=23">注册时为什么需要完善个人信息？</a></li>
               <li><span class="orange f16">Q</span><a href="/views/html/help.html?helpId=44">提款不成功怎么办？</a></li>
               <li><span class="orange f16">Q</span><a href="/views/html/help.html?helpId=37">如何修改绑定的联系电话？</a></li>
               <li><span class="orange f16">Q</span><a href="/views/html/help.html?helpId=33">为保证账户资金安全应注意哪些事项？</a></li>
               <li><span class="orange f16">Q</span><a href="/views/html/help.html?helpId=46">我从未买过彩票，这些彩种怎么玩？</a></li>
        </ul>
    </div>
</div>