<!--online-service-->
<script type="text/javascript">
    $(function () {
        $("a.online-service").on("click",function () {
           /* layer.open({
            type: 2,
            title: '在线客服',
            anim: 2,
            shade: 0, //不显示遮罩
            shadeClose: true, //开启遮罩关闭
            area: ['800px', '700px'],
            content:'http://wpa.qq.com/msgrd?v=3&amp;uin=369044798',

        });*/
window.open('http://wpa.qq.com/msgrd?v=3&amp;uin=369044798');
        })

    })

</script>