<ul class="header-top-right">
    <li><a class="  wVSy" href="/views/main.html" id="">快速充值通道</a></li>
    <li><a class="true  wVSy" href="javascript:registerTest();" id="">试玩账号</a></li>
    <li><a class="  wVSy" href="/views/html/AgencyPlan.html" id="">加入代理</a></li>
    <li><a class="  wVSy" href="/views/main.html" id="">代理登录</a></li>
    <li><a class=" online-service wVSy" href="javascript:void(0)" id="">在线客服</a></li>
    <li><a class="  " href="javascript:AddFavorite(window.location, document.title);" id="">加入收藏</a></li>
    <li><a class="  " href="/views/html/help-center.html" id="">帮助中心</a></li>
    <li><a class="  " href="/views/html/DrawNotice.html" id="">开奖公告</a></li>
    <li><a class="  " href="/views/html/play-methods.html" id="">彩票玩法</a></li>
</ul>