<!--支持循环，需要重复图片节点-->
        <div class="mui-slider-item mui-slider-item-duplicate"><a href=""><img src="/views/image/20200521/20200521174100757277-13.png"/></a></div>
    <div class="mui-slider-item"><a href=""><img src="/views/image/20200521/20200521173944687123-1.png"/></a></div>
    <div class="mui-slider-item"><a href=""><img src="/views/image/20200521/20200521173950954512-2.png"/></a></div>
    <div class="mui-slider-item"><a href=""><img src="/views/image/20200521/20200521173957446909-3.png"/></a></div>
    <div class="mui-slider-item"><a href=""><img src="/views/image/20200521/20200521174003628494-4.png"/></a></div>
    <div class="mui-slider-item"><a href=""><img src="/views/image/20200521/20200521174009963156-5.png"/></a></div>
    <div class="mui-slider-item"><a href=""><img src="/views/image/20200521/20200521174016211101-6.png"/></a></div>
    <div class="mui-slider-item"><a href=""><img src="/views/image/20200521/20200521174022384353-7.png"/></a></div>
    <div class="mui-slider-item"><a href=""><img src="/views/image/20200521/20200521174028901290-8.png"/></a></div>
    <div class="mui-slider-item"><a href=""><img src="/views/image/20200521/20200521174035329228-9.png"/></a></div>
    <div class="mui-slider-item"><a href=""><img src="/views/image/20200521/20200521174041494553-10.png"/></a></div>
    <div class="mui-slider-item"><a href=""><img src="/views/image/20200521/20200521174047744470-11.png"/></a></div>
    <div class="mui-slider-item"><a href=""><img src="/views/image/20200521/20200521174053980474-12.png"/></a></div>
    <div class="mui-slider-item"><a href=""><img src="/views/image/20200521/20200521174100757277-13.png"/></a></div>
        <div class="mui-slider-item mui-slider-item-duplicate"><a href=""><img src="/views/image/20200521/20200521173944687123-1.png"/></a></div>
