
html, body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
    font-size: 14px;
}
.xdsoft_timepicker{
    display: none !important;
}
#gaming-wrap {
    width: 1000px;
    height: 660px;
    float: left;
    /* margin: 0 auto; */
    /* position: relative; */
    overflow: hidden;
}

.gaming-title {
    width: 100%;
    height: 60px;
    background: -webkit-repeating-linear-gradient(270deg, #d5a253, #643c08 58px, #39445a 0, #39445a 60px);
    box-shadow: inset 0 -59px 51px -24px #2b3240;
}

.gaming-title > button,.gaming-title > a {
    text-align: center;
    height: 100%;
    line-height: 60px;
    padding: 0 42px;
    color: #ffffff;
    font-weight: 500;
    outline: none;
    cursor: pointer;
}

.gaming-title > button.active {
    border-bottom: 2px solid #ff7c00;
    height: 58px;
    line-height: 58px;
}

.gaming-content {
    width: 1014px;
    height: 600px;
    background: url(/sports/images/gameListBJ.jpg) no-repeat top center;
    background-size: 100% 100%;
    position: relative;
    overflow-y: scroll;
}

.listheader {
    height: 32px;
    font-size: 12px;
    line-height: 32px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.listheader > div {
    text-align: center;
}

.listheader > div.listDate {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}

.listheader > div.listType {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}

.listheader > div.listShop {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}

.listheader > div.listGame {
    -webkit-box-flex: 6;
    -moz-box-flex: 6;
    -webkit-flex: 6;
    flex: 6;
}

.listheader > div.listChange {
    -webkit-box-flex: 2;
    -moz-box-flex: 2;
    -webkit-flex: 2;
    flex: 2;
}

.listDelite {
    width: 100%;
    height: auto;
    margin-bottom: 48px;
}

.listDelite > tbody > tr {
    width: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    background: rgba(39, 51, 72, 0.45);
    /*margin: 4px 0;*/
    cursor: pointer;
    border-bottom: 2px solid #42414180;
    padding: 4px 0;
}

.listDelite > tbody > tr:nth-child(2n) {
    width: 100% !Important;
    min-height: 120px;
    /*background: linear-gradient(270deg, rgba(255, 0, 51, .2) 0, rgba(28, 99, 150, .2) 72.76%, rgba(0, 119, 255, .2)), linear-gradient(270deg, rgba(26, 36, 54, 0) 2.76%, rgba(26, 36, 54, .8) 39.23%, rgba(26, 36, 54, .8) 59.67%, rgba(26, 36, 54, 0) 99.45%), #1a2436;*/
    display: none;
    padding: 0px 0;
    cursor:Default!important;
}

/*..listDelite > tbody > tr > td:nth-child(1) {*/
    /*-webkit-box-flex: 3.2;*/
    /*-moz-box-flex: 3.2;*/
    /*-webkit-flex: 3.2;*/
    /*flex: 3.2;*/
    /*text-align: center;*/
    /*height: 60px;*/
    /*line-height: 40px;*/
/*}*/

.listDelite > tbody > tr > td:nth-child(1) .live {
    padding: 4px 10px;
    font-size: 14px;
    font-weight: 700;
    background: linear-gradient(116.34deg, #c70341, #d0381b);
    border-radius: 2px;
    color: #ffffff;
}

.listDelite > tbody > tr > td:nth-child(1) > div {

    float: left;
    text-align: center;
    width: 100%;
}

.listDelite > tbody > tr > td:nth-child(1) > div:nth-child(1) {
    /*height: 32px;*/
    line-height: 32px;
    color: #ffffff;
    font-weight: 600;
}

.listDelite > tbody > tr > td:nth-child(1) > div:nth-child(2) {
    /*height: 30px;*/
    /*line-height: 20px;*/
    /*font-weight: 600;*/
    /*font-size: 14px;*/
}

.listDelite > tbody > tr td:nth-child(2) {
    /*-webkit-box-flex: 1;*/
    /*-moz-box-flex: 1;*/
    /*-webkit-flex: 1;*/
    /*flex: 1;*/
    /*text-align: center;*/
    /*line-height: 60px;*/
}

.listDelite > tbody > tr > td:nth-child(2) .gameLogo {
    /*background: url(/views/img/sprite.png) no-repeat center;*/
    padding: 6px 16px;
}

.listDelite > tbody > tr > td:nth-child(3) {
    /*-webkit-box-flex: 1;*/
    /*-moz-box-flex: 1;*/
    /*-webkit-flex: 1;*/
    /*flex: 1;*/
    /*text-align: center;*/
    /*line-height: 60px;*/
}

.listDelite > tbody > tr > td:nth-child(3) .gametext {
    color: #999999;
}

.listDelite > tbody > tr > td:nth-child(4) {
    -webkit-box-flex: 7;
    -moz-box-flex: 7;
    -webkit-flex: 7;
    flex: 7;
    text-align: center;
    line-height: 60px;
}

.listDelite > tbody > tr > td:nth-child(4) button {
    background-color: #1a456b;
    color: #ffffff;
    border-radius: 4px;
    margin: 14px 12px 0;
    outline: none;
    width: 56px;
    height: 32px;
    text-align: center;
    line-height: 32px;
    float: left;
}

.listDelite > tbody > tr > td:nth-child(4) button.active {
    box-shadow: 0 6px 12px rgba(0, 84, 255, .69), 0 4px 6px rgba(0, 0, 0, .36), inset 0 0 8px rgba(0, 136, 255, .3), inset 0 -1px 0 #0d3e84;
    background-color: #1761ca;
    float: left;
    margin-top: 12px;
}

.listDelite > tbody > tr > td:nth-child(4) .gamenameLeft {
    text-align: right;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    float: left;
    width: 18%;

}

.listDelite > tbody > tr > td:nth-child(4) .gamenameRight {
    text-align: left;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    float: left;
    width: 18%;
}

.listDelite > tbody > tr > td:nth-child(4) .gamePicRight {
    margin: 0 12px;
    float: left;
    width: 60px;
    height: 100%;
    background-repeat: no-repeat !important;
    background-size: 100% !important;
    background-position: center;
}

.listDelite > tbody > tr > td:nth-child(4) .gamePicLeft {
    margin: 0 12px;
    float: left;
    width: 60px;
    height: 100%;
    background-repeat: no-repeat !important;
    background-size: 100% !important;
    background-position: center;

}

.listDelite > tbody > tr > td:nth-child(4) .vs {
    font-size: 14px;
    color: #2e3541;
    background-color: #171f2c;
    border-radius: 50%;
    float: left;
    height: 32px;
    line-height: 32px;
    width: 30px;
    margin-top: 14px;
}

.listDelite > tbody > tr > td:nth-child(5) {
    -webkit-box-flex: 2;
    -moz-box-flex: 2;
    -webkit-flex: 2;
    flex: 2;
    text-align: center;
    line-height: 42px;
}

.listDelite > tbody > tr > td:nth-child(5) .gameChangeleft {
    background-color: #25334a;
    /*background: url(/views/img/gamepic.png) no-repeat center;*/
    background-size: 100% 100%;
    padding: 18px 36px;
    float: left;
    margin-top: 12px;
}

.listDelite > tbody > tr > td:nth-child(5) .gameChangeright {
    display: inline-block;
    width: 48px;
    height: 32px;
    font-weight: 700;
    font-size: 14px;
    color: #ffffff;
    box-shadow: 0 4px 4px rgba(0, 0, 0, .1);
    background-color: #25334a;
    margin-top: 16px;
    line-height: 32px;
    text-align: center;
}

#paging {
    width: 340px;
    height: 38px;
    line-height: 32px;
    margin: 0 auto;
}

#paging li {
    float: left;
    color: #fff;
}

.paging ul {
    padding: 0;
    margin: 0;
    display: inline-block;
    float: left;
}

.paging li {
    /* display: inline-block; */
    float: left;
    /* padding: 0px 15px; */
    cursor: pointer;
    height: 20px;
    line-height: 20px;
    margin: 6px 0 0;
    width: 20px;
    text-align: center;
    border-radius: 4px;
}

.paging li:hover {
    background-color: #ddd;
}

.paging-select {
    background-color: #4CAF50 !important;
    color: #fff !important;
}

.paging-select:hover {
    background-color: #4CAF50 !important;
    color: #fff !important;
}

.paging input[type='text'], .paging input[type='button'] {
    height: 25px;
    width: 52px;
    border-right: none;
    border-radius: 4px 0 0 4px;
}

.paging input[type='text'] {
    height: 25px;
    width: 50px;
    border: none;
    outline: none;
    text-indent: 4px;
    color: #000000;
}

.paging input[type='button'] {
    height: 25px;
    border: none;
    border-left: 1px solid #d9d9d9;
    background-color: #fff;
    cursor: pointer;
    /* border: none; */
    outline: none;
    border-radius: 0 4px 4px 0;
}

.paging ul:nth-child(2) {
    margin-left: 10px;
}

.loadtip {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 36px;
    background: #1a2436;
    border-top: 1px solid #312b2b;
}

.InjectionModule {
    position: absolute;
    right: 82px;
    top: 102px;
    width: 360px;
    height: 660px;
    background-color: #1d1e20;
    z-index: 9999;
    line-height: 44px;
    cursor: pointer;
    bottom: -590px;
    box-shadow: -4px 0 8px rgba(0, 0, 0, .2);
    float: right;
    border-left: 2px solid #c49f68;
}

.InjectionModuletop {
    height: 60px;
    width: 100%;
    background: -webkit-repeating-linear-gradient(270deg, #d5a253, #643c08 58px, #39445a 0, #39445a 60px);
    box-shadow: inset 0 -59px 51px -24px #2b3240;
}

.InjectionModuletop > span:nth-child(1) {
    float: left;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    margin-left: 12px;
    height: 60px;
    line-height: 60px;
}

.InjectionModuletop > span:nth-child(2) {
    float: right;
    height: 60px;
    line-height: 60px;
}

.InjectionModuletop .InjectionModuleBtn {
    font-weight: bold;
    font-size: 18px;
    color: #cfcfcf;
}

.InjectionModuletop .fa-chevron-circle-up {
    font-size: 18px;
    margin: 0 10px;
    color: #cfcfcf;
}

.InjectionModuleContent {
    height: 590px;
    width: 100%;
    background-color: #101621;
    overflow: hidden;
    position: relative;
}

.load {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.07);
    z-index: 2;
}

.retractCon {
    float: right;
}

.retractCon .fa {
    font-size: 18px;
    margin: 0 6px;
    color: #cfcfcf;
}

.retractCon .fa:hover {
    color: #ffffff;
}

.InjectionModuleContentHead {
    height: 48px;
    background: #1a2436;
    width: 100%;
}

.InjectionModuleContentHead ul {
    height: 100%;
    padding: 0 20px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    border-bottom: 4px solid #383737;
}

.InjectionModuleContentHead ul li {
    float: left;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    line-height: 48px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    color: #ffffff;

}

.InjectionModuleContentHead ul li.active {
    background: rgba(255, 124, 0, .1);
    border-bottom: 2px solid rgba(255, 124, 0, 0.56);
    height: 50px;
}

.InjectionModuleDelite {
    width: 358px;
    padding: 10px;
    background-color: rgb(26, 36, 54);
    height: 300px;
    overflow-y: scroll;
}

.swiper-container {
    height: 300px;
}

#ModelFooter {
    height: 222px;
    width: 100%;
    border-top: 1px solid #252d3d;
}

#ModelFooter .normal {
    height: 48px;
    width: 100%;
    border-bottom: 1px solid #252d3d;
}

#ModelFooter .normal > span:nth-child(1) {
    float: left;
    height: 48px;
    width: 200px;
    text-align: left;
    text-indent: 12px;
    border-right: 1px solid #252d3d;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
}

#ModelFooter .normal > span:nth-child(2) {
    float: left;
    height: 48px;
    width: 140px;
    position: relative;
}

.InjectionMoney {
    position: absolute;
    width: 100%;
    height: auto;
    background-color: #1761ca;
    left: 0;
    bottom: 48px;
    z-index: 3;
}

.InjectionMoney ul li {
    height: 32px;
    line-height: 32px;
    text-indent: 12px;
    color: #ffffff;
    font-weight: 700;
    font-size: 14px;
}

.InjectionMoney ul li:nth-child(2n+1) {
    background-color: #1657b4;
}

.alertModle {
    display: none;
}

#ModelFooter .normal > span:nth-child(2) > input {
    width: 100%;
    height: 95%;
    text-indent: 12px;
    border: none;
    outline: none;
    background: none;
    color: #ff7c00;
    font-size: 18px;
    font-weight: bold;
}

#ModelFooter .normal > span:nth-child(2) > input::-webkit-input-placeholder {
    color: #ff7c00;
}

#ModelFooter .normal > span:nth-child(2) > input:-moz-placeholder {
    color: #ff7c00;
}

#ModelFooter .normal > span:nth-child(2) > input::-moz-placeholder {
    color: #ff7c00;
}

#ModelFooter .normal > span:nth-child(2) > input:-ms-input-placeholder {
    color: #ff7c00;
}

#ModelFooter .record {
    height: auto;
    width: 100%;
}

#ModelFooter .record li {
    padding: 0 10px;
}

#ModelFooter .record li:nth-child(1) {
    color: #ffffff;
}

#ModelFooter .record li > span:nth-child(1) {
    font-size: 18px;
    color: #ffffff;
}

#ModelFooter .record li:nth-child(2) {
    color: #ffffff;
}

#ModelFooter .record li > span:nth-child(2) {
    font-size: 18px;
    text-align: right;
    float: right;
}
#totalBetMoney, #maxWinning{
    color: red;
    margin: 0 8px;
}
#autoAccept{
    margin: 0 14px;
}
#authorization {
    width: 90%;
    height: 48px;
    text-align: center;
    line-height: 48px;
    margin: 10px 0 0 5%;
    color: #fff;
    background-color: #bc8b4e;
    font-size: 18px;
    font-weight: bold;
    border-radius: 6px;
    outline: none;
    border: none;
}

.DetailsOfNotes {
    height: 84px;
    width: 336px;
    background-color: #f5f5f5;
    border-radius: 6px;
    margin: 16px 0;
}

.DetailsOfNotes > div:nth-child(1) {
    height: 24px;
    line-height: 24px;
    background: #313a4a;
    padding: 0 8px;
    border-radius: 4px;
}

.DetailsOfNotes > div:nth-child(1) > span:nth-child(1) {
    float: left;
    color: hsla(0, 0%, 100%, .38);
}

.DetailsOfNotes > div:nth-child(1) > span:nth-child(2) {
    float: right;
    color: hsla(0, 0%, 100%, .38);
}

.DetailsOfNotes > div:nth-child(2) {
    height: 44px;
    line-height: 44px;
}

.DetailsOfNotes > div:nth-child(2) > span:nth-child(1) {
    float: left;
    width: 48px;
    height: 32px;
    background: #1761ca;
    color: #fff;
    text-align: center;
    line-height: 32px;
    margin: 14px 0 0 14px;
    border-radius: 2px;
}

.DetailsOfNotes > div:nth-child(2) > span:nth-child(2) {
    float: left;
    width: 100px;
    height: 32px;
    margin: 14px 0 0 4px;
}

.DetailsOfNotes > div:nth-child(2) > span:nth-child(2) > span:nth-child(1) {
    float: left;
    width: 100%;
    height: 20px;
    line-height: 16px;
    color: #1761ca;
    text-indent: 6px;
    font-weight: 700;
    font-size: 14px;
}

.DetailsOfNotes > div:nth-child(2) > span:nth-child(2) > span:nth-child(2) {
    float: left;
    width: 105px;
    height: 12px;
    line-height: 6px;
    font-size: 12px;
    text-indent: 6px;
}

.DetailsOfNotes > div:nth-child(2) > span:nth-child(3) {
    float: left;
    margin: 14px 0 0 4px;
    height: 32px;
    width: 100px;
}

.DetailsOfNotes > div:nth-child(2) > span:nth-child(3) input {
    float: left;
    width: 100%;
    height: 100%;
    border: 1px solid #999;
    outline: none;
    text-indent: 12px;
    font-weight: bold;
    font-size: 16px;
}

.DetailsOfNotes > div:nth-child(2) > span:nth-child(4) {
    float: right;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 32px;
    margin: 14px 12px 0 10px;

}

.DetailsOfNotes > div:nth-child(2) > span:nth-child(4) i {
    width: 18px;
    height: 18px;
    background: #999;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    line-height: 18px;
    font-size: 12px;
}
.roundContent{
    display: block;
}
.roundContent>td:nth-child(1){
    /*padding-bottom: 16px;*/
}
.roundContentHead{
    display: flex;
    height: 36px;
}
.roundContentHead td{
    flex:1;
    line-height: 36px;
    text-align: center;
    color: #dddce1;
}
.roundContentHead td:nth-child(2){
    flex: 3 !important;
    line-height: 36px !important;
}

/* �ҵľ���*/
.guessingCompetition{
    width: 100%;

    height: 100%;
    background-color: #ffffff;
}
.guessingCompetition-menu{
    background-color: #dddddd;
    width: 230px;
    height: 100%;

    border-bottom: 1px solid #999;
    float: left;
}
.guessingMenu-nav{
    width: 210px;
    height: 40px;
    line-height: 40px;
    text-align: left;
    padding-left: 20px;
    font-family: Arial,Helvetica Neue,Helvetica,Verdana,sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #899999;
    border-bottom: 1px solid #fff8f8;
    cursor: pointer;
}
.guessingCompetition-menu .active{
    color: #000;
    background-color: #e7e7e7;
}
.guessingCompetition-con{
    width: 762px;
    height: 100%;
    background: #e7e7e7;
    float: left;
}
.guessingContent{
    background-color: #fff;
    width: 742px;
    height: 576px;
    margin: 12px;
}
.guessingContentHead{
    height: 100px;
    line-height: 100px;
    font-size: 18px;
    font-weight: bold;
    color: #000000;
    padding: 0 24px;
}
.guessingTime{
    float: right;
    height: 72px;
    width: 466px;
}
.ResuotTime{
    text-align: right;
    height: 60px;
    line-height: 60px;
    color: #ffffff;
}
.ResuotTime > span{
    /*padding: 0 10px;*/
}
#startTime,#startEnd{
    width: 164px;
    height: 34px;
    background: url(/sports/images/spriteIcons.png) no-repeat;
    background-position: 136px -106px;
    background-size: 38%;
    border: 1px solid #999;
    text-indent: 6px;
    font-weight: 700;
    font-size: 14px;
}
#Resuot_startTime,#Resuot_startEnd{
    width: 136px;
    height: 30px;
    background-image: url(/sports/images/spriteIcons.png);
    background-position: 112px -90px;
    background-size: 39%;
    border: 1px solid #999;
    text-indent: 6px;
    font-weight: 700;
    font-size: 14px;
    background-repeat: no-repeat;
    background-color: #fff;
    margin-left: 6px;
}
.guessingTime span{
    font-weight: 100;
    padding: 0 10px;
    font-size: 14px;
}
.orderDeliteWrap{
    width: 103%;
    height: 392px;
    border: 1px solid #efeaea;
    overflow-x: hidden;
}
.orderPageWrap{
    width: 100%;
    height: 48px;
}
.orderPaging ul{
    float: left;
    height: 36px;
    line-height: 36px;
    padding-top: 8px;
}
.orderPaging li{
    width: 36px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    margin-top: 6px;
    margin-left: 4px;
    float: left;
    border: 1px solid #899999;
    border-radius: 50%;
    cursor: pointer;
}
.orderPaging ul input{
    height: 28px;
    width: 72px;
    outline: none;
    text-indent: 4px;
    background-color: #fff;
    border-radius: 4px;
    margin: 10px 0 0 8px;
    border: 1px solid #999999;
}
.orderPaging ul input[type="button"]{
    cursor: pointer;
    width: 52px;
    text-indent: 0;
}
.orderPaging ul:nth-child(1){
    /*padding-left: 72px;*/
}
.orderDeliteTitle{
    width: 100%;
    height: 48px;
    line-height: 48px;
    background-color: #e7e7e7;
}
.orderDeliteCon{
    width: 100%;
    height: auto;
    border-bottom: 1px solid #efeaea;
    overflow: hidden;
}
.orderDeliteTitle > li,.orderDeliteCon > li{
    float: left;
    text-align: left;
    text-indent: 20px;
    color: #899999;
}
.orderDeliteTitle > li:nth-child(1),.orderDeliteCon > li:nth-child(1)
{
    width: 162px;
}
.orderDeliteTitle > li:nth-child(2),.orderDeliteCon > li:nth-child(2)
{
    width: 188px;
}
.orderDeliteTitle > li:nth-child(3),.orderDeliteCon > li:nth-child(3)
{
    width: 68px;
}
.orderDeliteTitle > li:nth-child(4),.orderDeliteCon > li:nth-child(4)
{
    width: 100px;
}
.orderDeliteTitle > li:nth-child(5),.orderDeliteCon > li:nth-child(5)
{
    width: 106px;
}
.orderDeliteTitle > li:nth-child(6),.orderDeliteCon > li:nth-child(6)
{
    width: 80px;
}
.orderDeliteCon li
{
    background: #fff;
}
.orderDeliteCon li:nth-child(1) div:nth-child(1),.orderDeliteCon li:nth-child(2) div:nth-child(1)
{
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    float: left;
    height: 24px;
    line-height: 24px;
    font-size: 12px;
    color: #000000;
}
.orderDeliteCon li:nth-child(1) div:nth-child(2),.orderDeliteCon li:nth-child(2) div:nth-child(2){
    float: left;
    height: 18px;
    line-height: 18px;
    font-size: 12px;
    color: #000000;
    width: 100%;
}

.orderDeliteCon li:nth-child(1) div:nth-child(3),.orderDeliteCon li:nth-child(2) div:nth-child(3){
    float: left;
    height: 18px;
    line-height: 18px;
    font-size: 12px;
    color: #000000;
    width: 100%;
}
.orderDeliteCon li:nth-child(1) div:nth-child(3),.orderDeliteCon li:nth-child(2) div:nth-child(4){
    float: left;
    height: 18px;
    line-height: 18px;
    font-size: 12px;
    color: #000000;
    width: 100%;
}
.orderDeliteCon li:nth-child(3),.orderDeliteCon li:nth-child(4),.orderDeliteCon li:nth-child(5),.orderDeliteCon li:nth-child(6)
{
    color: #eb7956;
    height: 60px;
    line-height: 60px;
    text-align: left;
    font-size: 14px;
}
/*赛果*/
.competitionResult{
    width: 100%;
    height: 598px;
    background-color: #000a1b;
    overflow: hidden;
}
.Resuot-header,.Resuot-content{
    width: 100%;
    height: 32px;
    line-height: 32px;
    background-color: #171f2c;
    margin: 1px 0;
    display: -webkit-box;
    display: -moz-box;
    display:-webkit-flex;
    display: -ms-flexbox;
    display:flex;
}
.swiper-container{
    height: 100%;
}
.swiper-slide:nth-child(2){
    cursor: pointer;
    background: url(/sports/images/mainBJ.jpg) no-repeat top center/100% 100%;
    height: 598px;
    overflow-x: hidden;
    width: 1014px !important;
}
.Resuot-header > div,.Resuot-content > div{
    text-align: center;
    color: #c5c2c2;
}
.Resuot-header > div:nth-child(1),.Resuot-content > div:nth-child(1)
{
    flex: .5;
    webkit-box-flex: .5;
    -webkit-flex: .5;
    -ms-flex: .5;
    font-size: 20px;
}
.Resuot-header > div:nth-child(2),.Resuot-header > div:nth-child(3),.Resuot-header > div:nth-child(4){
    font-size: 12px;
}
.Resuot-header > div:nth-child(2),.Resuot-content > div:nth-child(2)
{
    flex: 3;
    webkit-box-flex: 3;
    -webkit-flex: 3;
    -ms-flex: 3;
    text-align: left;
}
.Resuot-header > div:nth-child(3),.Resuot-content > div:nth-child(3)
{
    flex: 0.1;
    webkit-box-flex: 0.1;
    -webkit-flex: 0.1;
    -ms-flex: 0.1;
    text-align: left;
}
.Resuot-header > div:nth-child(3),.Resuot-content > div:nth-child(3)
{
    flex: 0;
    webkit-box-flex: 0;
    -webkit-flex: 0;
    -ms-flex: 0;
    text-align: left;
}
.Resuot-header > div:nth-child(4),.Resuot-content > div:nth-child(4)
{
    flex: 8;
    webkit-box-flex: 8;
    -webkit-flex: 8;
    -ms-flex: 8;
}
.Resuot-header > div:nth-child(5),.Resuot-content > div:nth-child(5)
{
    flex: 2;
    webkit-box-flex: 2;
    -webkit-flex: 2;
    -ms-flex: 2;
}
.Resuot-header .Vsitem>div:nth-child(1){
    float: left;
    width: 190px;
    height: 100%;
    text-align: center;
}
.Resuot-header .Vsitem>div:nth-child(2){
    float: left;
    width: 70px;
    height: 100%;
}
.Resuot-header .Vsitem>div:nth-child(3){
    float: left;
    width: 70px;
    height: 100%;
}
.Resuot-header .Vsitem>div:nth-child(4){
    float: left;
    width: 70px;
    height: 100%;
}
.Resuot-header .Vsitem>div:nth-child(5){
    float: left;
    width: 190px;
    height: 100%;
}
.Vsitem-content>div:nth-child(1){
    float: left;
    width: 120px;
    height: 100%;
    font-size: 16px;
    color: #fff;
}
.Vsitem-content>div:nth-child(1){
    text-align: right;
    padding-right: 20px;
}
.Vsitem-content>div:nth-child(7){
    text-align: right;
    font-size: 16px;
    color: #fff;
}
.Vsitem-content>div:nth-child(2),.Vsitem-content>div:nth-child(6){
    float: left;
    width: 60px;
    height: 100%;
}
.Vsitem-content>div:nth-child(3),.Vsitem-content>div:nth-child(4),.Vsitem-content>div:nth-child(5){
    float: left;
    width: 70px;
    height: 100%;
}
.Vsitem-content>div:nth-child(7){
    float: left;
    width: 110px;
    height: 100%;
    text-align: left;
}
.Vsitem-content>div:nth-child(3),.Vsitem-content>div:nth-child(6){
    line-height: 60px;
    text-align: center;
}
.Vsitem-content>div:nth-child(3)>a,.Vsitem-content>div:nth-child(5)>a{
    padding: 8px 24px;
    background-color: rgba(255, 124, 0, 0.1);
    color: #fff;
    box-shadow: 1px 1px 1px #13080878;
}
.Vsitem-content>div:nth-child(4) > a{
    padding: 8px 10px;
    border-radius: 50%;
    font-size: 14px;
    color: hsla(0,0%,100%,.1);
    background-color: #171f2c;
}
.Resuot-content{
    height:60px;
    line-height: 60px;
    background-color: #1a2436;
    border-bottom: 1px solid #000a1b;
}
.Resuot-content:hover{
    background-color: #2b232b;
}
.Resuot-content .Resuot-time-wrap> div{
    line-height:30px;
    height: 30px;
}
.Resuot-content .Resuot-time-wrap> div:nth-child(1){
    line-height: 42px;
    color: hsla(0,0%,100%,.54);
    font-size: 14px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    width: 222px;
}
.Resuot-content .Resuot-time-wrap> div:nth-child(2){
    color: hsla(0,0%,100%,.54);
    font-size: 12px;
    line-height: 18px;
}
.LinesEllipsis_l{
    background: #312d39;
    float: left;
    width: 72px;
    padding: 4px 6px;
    height: 32px;
    margin: 9px;
    line-height: 32px;
    font-size: 12px;
    color: #fff;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.LinesEllipsis_r{
    background: #312d39;
    float: right;
    width: 26px;
    padding: 4px 6px;
    height: 32px;
    margin: 9px 10px 0 0;
    line-height: 32px;
    font-size: 14px;
    color: #fff;
}
.GameDelite_header{
    height: 52px;
    width: 100%;
    border-bottom: 1px solid #fff;
    position: fixed;
    top: 0px;
    background: #000a1b;
}
.GameDelite_DateIco{
    float: left;
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    color: #ffffff;
    margin: 14px 0 0 4px;
    font-size: 20px;
}
.GameDelite_ReturnIco{
    float: left;
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    color: #ffffff;
    margin: 14px 0 0 14px;
    font-size: 20px;
    cursor: pointer;
}
.GameDelite_ReturnIco:hover{
    color: #0bb20c;
}
.GameDelite_Week{
    float: left;
    width: 516px;
    height: 52px;
    line-height: 52px;
    text-align: center;
    /*background: #0D3D01;*/
}
.GameDelite_Week>a {
    border: 1px solid #464a50;
    color: #8a929c;
    display: inline-block;
    font-size: 12px;
    height: 32px;
    line-height: 32px;
    margin-right: 5px;
    overflow: hidden;
    text-align: center;
    width: 64px;
    margin-top: 14px;
    cursor: pointer;
}
.GameDelite_Week > a:hover,.week-container .swiper-wrapper .swiper-slide a:hover{
    background: #43474e;
    border: 1px solid #43474e;
}
.GameDelite_DateSearch{
    float: right;
    width: 254px;
    height: 52px;
    line-height: 52px;
    color: #8a929c;
    text-indent: 20px;
}
#GameDelite_SearchTime
{
    border: 1px solid #464a50;
    width: 110px;
    background: none;
    font-size: 12px;
    height: 26px;
    color: #8a929c;
    text-indent: 6px;
    outline: none;
}
#SearchBtn{
    background: #504f7d;
    border-radius: 20px;
    border: none;
    color: #b1b0cd;
    height: 25px;
    margin: 8px;
    width: 78px;
    cursor: pointer;
    outline: none;
}
#SearchBtn:hover
{
    background:#6b6aaa;
}
.matchVsScore {
    margin-top: 60px;
    width: 100%;
    height: 130px;
}
.matchTitle{
     float: right;
     width: 950px;
     height: 100%;
     line-height: 52px;
     text-align: center;
}
.matchTitle > a:nth-child(1){
    color: #666;
    font-size: 20px;
    padding-right: 20px;
}
.matchTitle > a:nth-child(2){
    color: #bdbdbd;
    font-size: 13px;
    padding-right: 12px;
}
.matchDetail{
    width: 770px;
    height: 98px;
    margin: 24px auto;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
.matchDetail > div{
    height: 98px;
}
.matchDetail > div:nth-child(1){
    -webkit-box-flex: 2;
    -moz-box-flex: 2;
    -webkit-flex: 2;
    flex: 2;
    /*background-color: #0D3D01;*/
}
.matchDetail > div:nth-child(2){
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    /*background-color: #0bb20c;*/
    line-height: 98px;
    text-align: center;
}
.matchDetail > div:nth-child(2) > a{
    font-size: 32px;
}
.matchDetail > div:nth-child(3){
    -webkit-box-flex: 2;
    -moz-box-flex: 2;
    -webkit-flex: 2;
    flex: 2;
    /*background-color: #0b85cc;*/
}
.dispayTableLogo_l,.dispayTableText_r{
    float: left;
    width: 190px;
    height: 100%;
    line-height: 98px;

}
.dispayTableLogo_l,.dispayTableLogo_r{
    background-size: 45% !important;
}
.dispayTableText_r{
    width: 106px !important;
    text-align: right;
    font-size: 16px;
    color: #fff;
}
.dispayTableLogo_r{
    width: 198px !important;
}
.dispayTableText_l,.dispayTableLogo_r{
    width: 106px;
    height: 98px;
    line-height: 98px;
    text-align: center;
    float: left;
}
.dispayTableText_l{
    font-size: 16px;
    color: #fff;
    text-align: left;
}
.dispayTableLogo_r{
    text-align: right;
}
.btnSearch{
    background: #4CAF50;
    color: #fff;
    padding: 6px 12px !important;
    cursor: pointer;
    border-radius: 4px;
}
.gameVsDelite_wrap{
    width: 100%;
    height: auto;
}
.gameVsDelite_wrap_header{
    background-color: #2b2c2f;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
.gameVsDelite_wrap_header > div{
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    height: 32px;
    line-height: 32px;
    color: #8a929c;
    text-align: center;
}
.gameVsDelite_Con{
    width: 100%;
    height: auto;
}
.gameVsDelite_table{
    width: 100%;
    height: auto;
}
.gameVsDelite_table td{
    text-align: center;
    height: 110px;
}
.gameVsDelite_table td li{
    text-align: center;
    height: 50px;
    line-height: 50px;
}
.gameVsDelite_table tr:nth-child(2n+1){
    background: #2e3135;
}
.gameVsDelite_table tr:nth-child(2n+2){
    background: #2a2d31;
}
.gameVsDelite_table tr:nth-child(2n+2) td:first-child{
    background: #2e3135;
}
.gameVsDelite_table tr:nth-child(2n+1) td:first-child{
    background: #32353a;
}

.roundHead {
    /*background: rgba(36, 43, 55, 0.7);*/
    font-size: 18px;
    border-bottom: 1px solid rgb(58, 58, 58);
    /*border-top: 1px solid rgb(58, 58, 58);*/
}

.roundHead-row {
    text-align: center;
    line-height: 40px;
    color: #ffffff
}

.tzBtn {
    background-color: #383838;
    font-size: 12px;
    border-radius: 4px;
    font-weight: 700;
    color: #ff7c00;
    cursor: pointer;
    margin: 6px 0 0 0;
    float: left;
    width: 90px;
}
.tzBtn > div:nth-child(1){
    height: 24px;
    line-height: 24px;
    text-align: center;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.tzBtn > div:nth-child(2){
    color: #FFF;
    height: 24px;
    line-height: 24px;
    text-align: center;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.roundHead-row>span{
    font-size: 14px;
}
.td-linght{
    line-height: 32px !important;
    float: left;
    width: 994px;
    margin-bottom: 12px;
}
.td-linght>div:nth-child(1){
    color: #fff;
    line-height: 54px;
    float: left;
    height: 100%;
    width: 336px;
    text-align: right;
    padding-right: 16px;
}
/*.td-linght > span:nth-child(2){*/
    /*float: left;*/
    /*width: 110px;*/
/*}*/
/*.td-linght > span:nth-child(3){*/
    /*float: left;*/
    /*width: 126px;*/
    /*margin: 0 0 0 18px;*/
/*}*/
.td-linght>span{
    float: left;
    width: 90px;
    margin: 0 0 0 4px;
}
.td-linght .active{
    box-shadow: 0 6px 12px rgba(0, 84, 255, .69), 0 4px 6px rgba(0, 0, 0, .36), inset 0 0 8px rgba(0, 136, 255, .3), inset 0 -1px 0 #0d3e84;
    background-color: #1761ca;
}
.td-linght > h4{
    float: left;
    height: 100%;
    width: 144px;
    text-align: right;
    padding-right: 16px;
}

.loading{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 1000px;
    margin: 0 auto;
    background-color: rgba(1, 1, 1, 0.34);
    z-index: 999999;
    display: none;
}
.loading img{
    width: 72px;
    height: 72px;
    margin: 270px 0 0 464px;
}

/*赛事样式更改*/
.ulStyle{
    height: auto;
    background-color: rgba(117, 117, 116, 0.16);
    /*border-bottom: 4px solid #1b17138c;*/
}
.ulStyle li{
    height: 72px;
    width: 100%;
    border-bottom: 1px solid #6d6050;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
.ulStyle li div{
    float: left;
}
.ulStyle div:nth-child(1){
    flex: 1;
}
.ulStyle div:nth-child(2){
    flex: 3;
}
.ulStyle div:nth-child(3){
    flex: 1;
}
.ulStyle div:nth-child(4){
    flex: 1;
}
.ulStyle div:nth-child(5){
    flex: 1;
}
.ulStyle div:nth-child(6){
    flex: 1;
}
.ulStyle div:nth-child(7){
    flex: 1;
}
.ulStyle div:nth-child(8){
    flex: 1;
}
.ulStyle div:nth-child(9){
    flex: 1;
}
.ulStyle div:nth-child(3) span,.ulStyle div:nth-child(4) span,.ulStyle div:nth-child(5) span,.ulStyle div:nth-child(6) span{
    color: #ff7c00;
    position: relative;
}
.ulStyle li div span{
    display: block;
    height: 32px;
    width: 96%;
    margin: 2px 2%;
    line-height: 36px;
    color: #afa1a1;
    text-indent: 6px;
    /*cursor: pointer;*/
    text-align: center;
}
.ulStyle li div:nth-child(1) span{
    text-align: center;
}
.ulStyle li div{
    border-bottom: 1px solid #25221d;
    border-right: 1px solid #25221d;
}
.gaming-content .ulStyle:last-child{
    margin-bottom: 48px;
}
.ulStyle li div span.active{
    background-color: #ff7c00;
    color: #fff;
    border-radius: 4px;
}
.ulStyle div:nth-child(3) span:hover,.ulStyle div:nth-child(4) span:hover,.ulStyle div:nth-child(5) span:hover,.ulStyle div:nth-child(6) span:hover{
    background-color: #ff7c00;
    color: #fff;
    border-radius: 4px;
    position: relative;
    cursor: pointer;
}

.SpreadBall{
    float: left;
    width: 20px;
    height: 20px;
    background-color: #fff;
    position: absolute;
    left: 10px;
    top: 6px;
    border-radius: 50%;
    line-height: 20px;
    text-align: center;
    text-indent: 0;
    font-size: 12px;
    color: #000;
}
.ulStyle li div span i{
    font-style: normal;
}
.win{
    font-size: 14px;
    color: #fff;
}
.gameDtlite-left, .gameDtlite-right{
    float: left;
    width: 50% !important;
    height: auto;
}
.gameDtlite-right{
    float: right !important;
    width: 49% !important;
}
.gameDtlite-head {
    height: 32px;
    color: #ffffff;
    line-height: 32px;
    text-indent: 12px;
    text-align: left;
    font-size: 14px;
    font-weight: 100;
    /*text-align: center;*/
}
.gameDtlite-head> a{
    padding: 0 8px;
    font-size: 16px;
    font-weight: 900;
    color: #c3c5ca;
}
.nextMenu > td {
    width: 100%;
    display: inline-block;
}
.gameDtlite-con{
    padding: 10px 0 10px 26px;
    min-height: 48px;
    border-bottom: 1px solid #3a3838;
    overflow: hidden;
}
.gameDtlite-con > span {
    float: left;
    width: 138px;
    height: 48px;
    text-align: center;
    line-height: 48px;
    background-color: #BC8B4E;
    margin: 2px 8px;
    border-radius: 10px;
    color: #fff;
}
.gameDtlite-con > span:hover{
    background-color:#ff7c00;
}
.gameDtlite-con > span.active{
    background-color:#ff7c00;
}
.gameDtlite-con > span > a:nth-child(1){
    float: left;
    width: 100%;
    line-height: 32px;
    color: #fff;
    font-size: 14px;
    font-weight: 100;
    height: 32px;
}
.gameDtlite-con > span > a:nth-child(2){
    float: right;
    width: 100%;
    line-height: 6px;
    color: #f9d9ab;
    font-size: 14px;
    height: 16px;
}
.gameDtlite-con > span.noHover:hover{
    background-color: #BC8B4E!important;
}
.weekListWrap{
    width: 100%;
    height: 42px;
    background: #000000;
    text-align: center;
    line-height: 42px;
}
.weekListWrap .swiper-slide {
    height: 100% !important;
    background: initial !important;
    width: 76px !important;
    overflow-x: initial;
}
.week-container .swiper-wrapper {
    width: 86%;
    margin: 0 4%;
}
.week-container .swiper-wrapper .swiper-slide a{
    font-weight: 100;
    cursor: pointer;
    border: 1px solid #464a50;
    color: #8a929c;
    display: inline-block;
    font-size: 12px;
    height: 32px;
    line-height: 32px;
    width: 64px;
}
.weekListWrap .swiper-button-next,.weekListWrap .swiper-button-prev {
    background-size: 40%;
}


/*王者荣耀规则*/
/*
.esports_wrap{
    border: 5px solid rgba(255,255,255,0.3);
    box-shadow: 0 0 8px rgba(136, 136, 136, 0);
}
.esports_wrap,.esports_wrap *{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.esports_wrap .layui-layer-title {
    background-color: #1A2436;
    color: #ffffff;
    border: none !important;
}
.esports_wrap .layui-layer-close:before{
    display: inline-block;
    content: "\2715";
    color: white;
    font-weight: bold;
    font-size: 20px;
    margin-top: -10px;
}*/
