
<!--
    ***
    **    开奖 公告
    *
-->

<style>
  .x-center {
    width: 1376px !important;
    margin: 0 auto;
  }
</style>

<!--链接-->
<!--#include virtual="/views/html/head.html"-->


<!-- 头部 -->
<!--#include virtual="/views/html/header.html"-->


<!-- 内容 -->
<!--#include virtual="/views/html/draw-notice-content.html"-->


<!-- 开奖结果 -->
<iframe width="1420"  height="1000" align="top" scrolling="auto" onload="this.height=1000" frameborder="0" src="" id="DrawNoticeBody" name="DrawNoticeBody" style="display: none; margin-left: 4%;margin-bottom: 32px;"></iframe>

<!-- 脚部-->
<!--#include virtual="/views/html/footer.html"-->

<script src="/views/js/DrawNotice.js"></script>
<script type="text/javascript" src="/views/js/Jurisdiction.js"></script>
