<head>
    <!--#include virtual="/views/page_title_logo.html"-->
    <!--#include virtual="/views/page_title_content.html"-->
    <meta charset="UTF-8" />
    <meta name="keywords" content="HTML,ASP,PHP,SQL">
    <link rel="stylesheet" type="text/css" href="/views/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="/views/lib/css/reset.css" />
    <link rel="stylesheet" href="/views/lib/css/swiper.min.css" />
    <link rel="stylesheet" href="/views/css/Sec_index.css" />
    <link rel="stylesheet" type="text/css" href="/views/css/index.css" />
    <link rel="stylesheet" type="text/css" href="/views/css/footer.css" />
    <link rel="stylesheet" type="text/css" href="/views/css/userRegister.css" />
    <link rel="stylesheet" type="text/css" href="/views/css/userInfo.css" />
    <link rel="stylesheet" href="/views/lib/css/liMarquee.css" />
    <link rel="stylesheet" type="text/css" href="/views/css/register_trail.css" />


    <script type="text/javascript" src="/views/lib/js/jquery-1.7.1.js"></script>
    <script type="text/javascript" src="/js/lib/util/httpUtil.js"></script>
    <script type="text/javascript" src="/views/lib/js/jquery.liMarquee.js"></script>
    <script type="text/javascript" src="/js/enterLiveGame.js"></script>
    <script type="text/javascript" src="/js/lib/util/md5.js"></script>
    <script type="text/javascript" src="/js/lib/jquery/jquery.cookie.js"></script>
    <script type="text/javascript" src="/js/lib/layer/layer.js"></script>
    <script type="text/javascript" src="/views/lib/js/swiper.min.js"></script>
    <script type="text/javascript" src="/js/lib/util/error.js"></script>
    <script type="text/javascript" src="/js/notice.js"></script>
    <script type="text/javascript" src="/js/register_trail.js"></script>
    <script type="text/javascript" src="/views/js/NewsList.js"></script>
    <script type="text/javascript" src="/js/register_check.js"></script>
    <script type="text/javascript" src="/js/login.js"></script>
    <script type="text/javascript" src="/views/js/Jurisdiction.js"></script>
	<!--#include virtual="/views/onLineService.html"-->
</head>
