<div class="help-center-wrap-bg">
  <div class="help-center-content">
    <!--#include virtual="/views/help_left_menu.html"-->
    <div class="help-center-content-r">
      <div class="help-info">
        <div class="help-cent" onclick="window.location.href='/views/html/register.html'">
          <div class="helpetin-left">
            <div class="help-icon">
              <a class="orange" onclick="__openWin('login','/register/index.html');" target="_self"></a>
            </div>
            <span>1.注册登录</span>
          </div>
        </div>
        <div class="help-cent" onclick="window.location.href='/views/html/help.html?helpId=38'">
          <div class="helpetin-left">
            <div class="help-icon">
              <a class="orange" target="_self"></a>
            </div>
            <span>2.账户充值</span>
          </div>
        </div>
        <div class="help-cent" onclick="window.location.href='/page/game-center.html'">
          <div class="helpetin-left">
            <div class="help-icon">
              <a class="orange" target="_self"></a>
            </div>
            <span>3.购买彩票</span>
          </div>
        </div>
        <div class="help-cent" onclick="GetDraw()">
          <div class="helpetin-left">
            <div class="help-icon">
              <a class="orange" target="_self"></a>
            </div>
            <span>4.查看中奖</span>
          </div>
        </div>
        <div class="help-cent" onclick="window.location.href='/views/html/help.html?helpId=10'">
          <div class="helpetin-left">
            <div class="help-icon">
              <a class="orange" target="_self"></a>
            </div>
            <span>5.中奖提款</span>
          </div>
        </div>
      </div>
      <!--#include virtual="/views/new_user_help.html"-->
    </div>
  </div>
</div>
<div class="clear"></div>
<script type="text/javascript" src="/views/js/Jurisdiction.js"></script>