
<!--
  ***
  **  王者荣耀
  *
-->




<!--链接-->
<!--#include virtual="/views/html/head.html"-->


<!-- 头部 -->
<!--#include virtual="/views/html/header.html"-->


<!-- 内容 -->
<!-- gamecontent -->
<div class="Live-content-wrap" style="width: 100%;margin-left: -2px">
    <div class="Live-content" style="width: 1520px;margin:0 auto">
        <div class="Live-content-delite">
            <iframe  name="iframeMain" id="iframeMain" width="1520px" height="800px" src="/sports/esports_main.html" style="border:0"></iframe>
        </div>
    </div>
</div>


<!-- 脚部-->
<!--#include virtual="/views/html/footer.html"-->
