
<!--
    ***
    **    走势  图
    *
-->

<!--链接-->
<!--#include virtual="/views/html/head.html"-->


<!-- 头部 -->
<!--#include virtual="/views/html/header.html"-->


<!-- 内容 -->
<!--#include virtual="/views/html/trend-content.html"-->


<!-- 走势图 -->
<iframe width="100%" height="1000" align="top" scrolling="auto" onload="this.height=1000" frameborder="0" src="" id="TrendBody" name="TrendBody" style="display: none"></iframe>


<!-- 脚部-->
<!--#include virtual="/views/html/footer.html"-->

<script src="/views/js/trend.js"></script>
<script type="text/javascript" src="/views/js/Jurisdiction.js"></script>