
<!--
    ***
    **   走势图
    *
-->

<div class="trend-wrap">
    <div class="trend-content">
        <div class="tab_menu">
            <div class="trend-top-choice" onmouseover="trend_top_tab(this,'all')">全部彩种</div>
            <div onmouseover="trend_top_tab(this,'2')">时时彩</div>
            <div onmouseover="trend_top_tab(this,'0')">六合彩</div>
            <div onmouseover="trend_top_tab(this,'4')">十一选5</div>
            <div onmouseover="trend_top_tab(this,'1')">低频</div>
            <div onmouseover="trend_top_tab(this,'3')">PK拾</div>
            <div onmouseover="trend_top_tab(this,'5')">快乐彩</div>
        </div>
        <div class="game_btn">

        </div>

        <div class="_iframe_divs">
            <h2>时时彩</h2>
            <div class="trend-main">
                <ul class="trend-lot-ul sscWrap">
                   <!--***   时时彩 content -->
                </ul>
            </div>
        </div>

        <div class="_iframe_divs">
            <h2>六合彩</h2>
            <div class="trend-main">
                <ul class="trend-lot-ul lhcWrap">

                </ul>
            </div>
        </div>

        <div class="_iframe_divs">
            <h2>pk拾</h2>
            <div class="trend-main">
                <ul class="trend-lot-ul pkWrap">

                </ul>
            </div>
        </div>

        <div class="_iframe_divs">
            <h2>快乐彩</h2>
            <div class="trend-main">
                <ul class="trend-lot-ul klcWrap">
                    <!-- 快乐彩  -->
                </ul>
            </div>
        </div>


        <div class="_iframe_divs">
            <h2>11选5</h2>
            <div class="trend-main">
                <ul class="trend-lot-ul syxwWrap">
                   <!-- 11选5  -->
                </ul>
            </div>
        </div>
            <div class="_iframe_divs">
                <h2>低频彩</h2>
                <div class="trend-main">
                    <ul class="trend-lot-ul LFWrap">
                       <!--  低频彩 -->
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

