
<!--
  ***
  **   优惠活动
  *
-->

<style>
  .Activities-content{
    width: 100% !important;
  }
  .Activities-con-wrap,.xialawz{
    width: 1000px !important;
    margin: 0 auto !important;
  }
  #layuipro{
      margin-left: 10px;
  }
  .layui-laye{
      border-radius:5px;
  }


</style>


<!--链接-->
<!--#include virtual="/views/html/head.html"-->


<!-- 头部 -->
<!--#include virtual="/views/html/header.html"-->


<!-- 内容 -->
<!--#include virtual="/views/html/youhui-content.html"-->


<!-- 脚部-->
<!--#include virtual="/views/html/footer.html"-->

<script src="/views/js/youhui.js"></script>
<script type="text/javascript" src="/views/js/Jurisdiction.js"></script>