.form .form-group > label {
  width: 128px;
}

.form .form-group > label, .form .form-group > div {
  float: left;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

.form .form-group > div > .form-control, .form .form-group > div > .input-group, .form .form-group > div > .form-control-static {
  width: 216px;
}

.form .form-group > div.lg > .form-control, .form .form-group > div.lg > .input-group, .form .form-group > div.lg > .form-control-static {
  width: 432px;
}

.form .form-group > div.sm > .form-control, .form .form-group > div.sm > .input-group, .form .form-group > div.sm > .form-control-static {
  width: 124px;
}

.form .form-group > div.auto > .form-control, .form .form-group > div.auto > .input-group, .form .form-group > div.auto > .form-control-static {
  width: auto;
}

.form .btn {
  width: 96px;
}

.form .btn.lg {
  width: 216px;
}

.form .btn:first-child {
  margin-left: 128px;
}

.remove-binding {
  display: none;
  padding-left: 15px;
}

.remove-binding span {
  display: inline-block;
  padding: 6px 12px;
  font-size: 16px;
  margin-right: 24px;
  border-radius: 4px;
  border: 1px solid transparent;
  color: #fff;
  background-color: #d9534f;
  cursor: pointer;
  moz-user-select: -moz-none;
  -moz-user-select: none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.remove-binding #removeCard {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
  transition: all .2s;
}

.remove-binding #removeCard:hover {
  background-color: #8c2020;
  border-color: #6f1919;
}

.remove-binding #updateCard {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}

#drawWith {
  display: none;
}

#city .sm {
  float: left;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
}

#city .sm select {
  width: 124px;
}